<div class="projects" id="resume">  
    <h2>Resume</h2>
    
  <h3 style="font-size: 25px;font-weight: bold;margin: 0 19%;float: left;margin-top:45px;">Experience</h3>
  <a href="/resume-iris-of-lys.pdf" target="_blank" class="button One" style="float: right;margin: 0 19%;margin-top:45px;">Résumé</a>
  
  <div style="clear:both;"></div>
  
  <div class="project" style="height:300px;">
     <div class="projectDetails" style="height:300px;">
     <div class="name">
       <p style="font-weight: bold !important;font-size: 20px !important;display: block;padding-bottom: 3px;line-height: 140% !important;">
         Web Producer</p>
      <p>MAR 2020 – Present</p>
       <br>
       <p style="font-weight: bold !important;font-size: 20px !important;display: block;padding-bottom: 3px;line-height: 140% !important;">
         Junior Web Producer</p>
       <p>JUL 2019 – MAR 2020</p>
      
     </div>
     </div>
    
     <div class="projectDetails" style="height:300px;">
     <p>Maintains, updates, and builds responsive websites and pages
for brands; Handles email marketing system; Uses HTML, CSS,
Bronto, WordPress, Joomla</p>
      </div>
    </div>
  
  <h3 style="font-size: 25px;font-weight: bold;margin: 0 19%;float: left;margin-top:45px;">Education</h3>
  
  <div style="clear:both;"></div>
  
  <div class="project" style="height:300px;">
     <div class="projectDetails" style="height:300px;">
     <div class="name">
       <p style="font-weight: bold !important;font-size: 20px !important;display: block;padding-bottom: 3px;line-height: 140% !important;">B.A. in Information Technology & Informatics</p>
      <p>SEP 2015 – MAY 2019</p>
       <p>Rutgers University – New Brunswick, NJ</p>
       
       
     </div>
     </div>
    
     <div class="projectDetails" style="height:300px;">
       <p>GPA: 3.81/4.00 <em style="font-style:italic;">magna cum laude</em><br>
Game Production &amp; Innovation Speciaation<br>
Minor in Digital Communication, Information, &amp; Media</p>
      </div>
    </div>
  
  <h3 style="font-size: 25px;font-weight: bold;margin: 0 19%;float: left;margin-top:45px;">Skills</h3>
  <div style="clear:both;"></div>
  
  <h3 style="font-size: 25px;font-weight: bold;margin: 0 19%;float: left;margin-top:45px;">Honors &amp; Awards</h3>
  <div style="clear:both;"></div>
  
</div>
